header
  menu
  .logo
  .container.formcontainer
    .row
      .col-xs-6
        h1 {{username}}
      .col-xs-6.newSlideshow
        button#newSlideshow.btn.btn-primary(data-toggle='modal', data-target='#newSlideshowModal') New Slideshow&nbsp
          span.fa.fa-plus
.wrapper
  #items
    .item(ng-repeat='slide in slideShows')
      .slideshowItemInfo
        h1 {{slide.slideName}}
        .row
          .col-xs-6
            a(ng-click='setSearch(slide.author)') {{slide.author}}
          .col-xs-6
            .date {{slide.date | date:'MMMM d, yyyy' : 'UTC'}}
      .slideshowItemControl
        .row
          a.col-xs-4(href='/account#/{{slide.slideName}}')
            i.fa.fa-play-circle-o.fa-2x
          a.col-xs-4(href='/account#/{{slide.slideName}}/editor')
            i.fa.fa-pencil-square-o.fa-2x
          a.col-xs-4(ng-click='deleteSlide(slide.slideName)')
            i.fa.fa-trash-o.fa-2x
#newSlideshowModal.modal(role='dialog')
  .modal-dialog
    .modal-content.slideWindow
      .modal-header
        button.close(data-dismiss='modal')
        h3 New Slideshow
      .modal-body
        form.form-inline.form-group(novalidate, name='newSlideForm')
          input.form-control(type='text', placeholder='Slideshow Name', ng-model='newSlideName', ng-change='!checkSlideShowName(newSlideName)', required)
      .modal-footer
        a.btn.btn-primary(ng-disabled='newSlideForm.$invalid || !checkSlideShowName(newSlideName)', href='/account#/{{newSlideName}}/editor') Create
        button.btn.btn-default(data-dismiss='modal') Close
