header
  menu
  .logo
  .container.formcontainer
    .row
      .col-xs-6
        h1 {{username}}
      .col-xs-6.newSlideshow
        button#newSlideshow.btn.btn-primary(data-toggle='modal', data-target='#newSlideshowModal') New Slideshow&nbsp
          span.fa.fa-plus
.wrapper
  #items
    .item(ng-repeat='slide in slideShows')
      .slideshowItemInfo
        h1 {{slide.slideName | uppercase}}
        .row
          .col-xs-6
            a(ng-click='setSearch(slide.author)') {{slide.author}}
          .col-xs-6
            .date {{slide.date | date:'MMMM d, yyyy' : 'UTC'}}
      .slideshowItemControl
        a.btn.btn-info(href='/#/view/{{slide.username}}/{{slide.slideName}}') PLAY&nbsp
          i.fa.fa-play
        a.btn.btn-warning.btn-sm(href='/account#/{{slide.slideName}}/editor') Edit&nbsp
          i.fa.fa-pencil-square-o
        a.btn.btn-danger.btn-sm(ng-click='deleteSlide(slide.slideName)') Delete&nbsp
          i.fa.fa-trash-o
#newSlideshowModal.modal(role='dialog')
  .modal-dialog
    .modal-content.slideWindow
      .modal-header
        button.close(data-dismiss='modal')
        h3 New Slideshow
      .modal-body
        form.form-inline.form-group(novalidate, name='newSlideForm')
          input.form-control(type='text', placeholder='Slideshow Name', ng-model='newSlideName', ng-change='!checkSlideShowName(newSlideName)', required)
      .modal-footer
        a.btn.btn-primary(ng-disabled='newSlideForm.$invalid || !checkSlideShowName(newSlideName)', href='/account#/{{newSlideName}}/editor') Create
        button.btn.btn-default(data-dismiss='modal') Close
