chat
.dropdown.pull-right
  span.fa.fa-bars.fa-3x.dropdown-toggle(data-toggle='dropdown')
  ul.dropdown-menu.dropdown-menu-right(role='menu')
    li(role='presentation')
      a(role='menuitem') Login
#account-wrap.container
  .row
    span.h1 {{username}}
    .pull-right
      button#newSlideshow.btn.btn-danger(data-toggle='modal', data-target='#newSlideshowModal') New Slideshow
  .row
    a#editToken(data-toggle='modal', data-target='#editTokenModal') Edit Token
  .row
    table.table
      thead
        tr
          th Slideshow
          th Created Date
          th Author
          th Action
          th Token
      tbody
        tr(ng-repeat='slide in slideShows')
          td {{slide.slideName}}
          td {{slide.date}}
          td {{slide.author}}
          td
            a(href='/account#/{{slide.slideName}}') Play
            a(href='/account#/{{slide.slideName}}/editor') Edit
            a(ng-click='deleteSlide(slide.slideName)') Delete
          td
            select
              option(ng-repeat='token in tokens')

//TODO: #newSlideshow modal
#newSlideshowModal.modal(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss='modal')
        h3 New SlideShow
      .modal-body
        form.form-inline.form-group
          input.form-control(type='text', placeholder='SlideShow Name')
          button.btn.btn-primary Verify
      .modal-footer
        button.btn.btn-primary Create
        button.btn.btn-default(data-dismiss='modal') Close
        
//TODO: #editToken modal
#editTokenModal.modal(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss='modal')
        h3 Token Settings
      .modal-body
        button.btn.btn-warning.btn-sm.pull-right Add Token
        table.table
          thead
            tr
              th Slideshow
              th Created Date
              th Author
              th Action
              th Token
          tbody
            tr(ng-repeat='slide in slideShows')
              td {{slide.name}}
              td {{slide.date}}
              td {{slide.author}}
              td
                a(href='/account') Play
                a(href='/account') Edit
                a(href='/account') Delete
      .modal-footer
        button.btn.btn-default(data-dismiss='modal') Close
