.headerdiv
  menu
  .logo
.container.formcontainer
  #account-wrap.container.accountinfo
    .row
      span.h1 {{username}}
      .pull-right
        button#newSlideshow.btn.btn-primary(data-toggle='modal', data-target='#newSlideshowModal') New Slideshow
.container1
  .slidecontainer
    #listSlides
      table.table.table-striped.table-hover(data-toggle='table')
        thead
          tr
            th SlideShow
            th Created Date
            th Author
            th Action
        tbody
          tr(ng-repeat='slide in slideShows')
            td {{slide.slideName}}
            td {{slide.date | date:'d MMMM yyyy' : 'UTC'}}
            td
              a(ng-click='setSearch(slide.author)') {{slide.author | uppercase}}
            td
              a.btn.btn-info.btn-sm(href='/account#/{{slide.slideName}}') PLAY&nbsp
                i.fa.fa-play
              a.btn.btn-warning.btn-sm(href='/account#/{{slide.slideName}}/editor') Edit&nbsp
                i.fa.fa-pencil-square-o
              a.btn.btn-danger.btn-sm(ng-click='deleteSlide(slide.slideName)') Delete&nbsp
                i.fa.fa-trash-o
#newSlideshowModal.modal(role='dialog')
  .modal-dialog
    .modal-content.slideWindow
      .modal-header
        button.close(data-dismiss='modal')
        h3 New Slideshow
      .modal-body
        form.form-inline.form-group(novalidate, name='newSlideForm')
          input.form-control(type='text', placeholder='Slideshow Name', ng-model='newSlideName', ng-change='!checkSlideShowName(newSlideName)', required)
      .modal-footer
        a.btn.btn-primary(ng-disabled='newSlideForm.$invalid || !checkSlideShowName(newSlideName)', href='/account#/{{newSlideName}}/editor') Create
        button.btn.btn-default(data-dismiss='modal') Close
br
.footercontainer Developed by Gerardo Santiago, Yanrong Huang, Jacob Salinas, and Zach Woodward, 2015
