menu
#account-wrap.container
  .row
    span.h1 {{username}}
    .pull-right
      button#newSlideshow.btn.btn-primary(data-toggle='modal', data-target='#newSlideshowModal') New Slideshow
  .row
    table.table
      thead
        tr
          th Slideshow
          th Created Date
          th Author
          th Action
      tbody
        tr(ng-repeat='slide in slideShows')
          td {{slide.slideName}}
          td {{slide.date | date:'d MMMM yyyy' : 'UTC'}}
          td {{slide.author}}
          td
            a.btn.btn-info.btn-sm(href='/account#/{{slide.slideName}}') PLAY&nbsp
              i.fa.fa-play
            a.btn.btn-warning.btn-sm(href='/account#/{{slide.slideName}}/editor') Edit&nbsp
              i.fa.fa-pencil-square-o
            a.btn.btn-danger.btn-sm(ng-click='deleteSlide(slide.slideName)') Delete&nbsp
              i.fa.fa-trash-o
#newSlideshowModal.modal(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss='modal')
        h3 New SlideShow
      .modal-body
        form.form-inline.form-group(novalidate, name='newSlideForm')
          input.form-control(type='text', placeholder='SlideShow Name', ng-model='newSlideName', ng-change='checkSlideShowName(newSlideName)', required)
      .modal-footer
        a.btn.btn-primary(ng-disabled='newSlideForm.$invalid || checkSlideShowName(newSlideName)', ng-href='/account#/{{newSlideName}}/editor') Create
        button.btn.btn-default(data-dismiss='modal') Close
