.reveal
  .slides
    section(data-markdown='', data-separator="---$")
      script#slideMd(type='text/template')
script(src='/app/js/head.min.js')
script(src='/app/js/reveal.js')
//script(src='/app/js/client.js')
