.reveal.container-fluid.row-fluid.col-xs-10.col-sm-10.col-md-10.col-lg-10
  .slides
    section(data-markdown='/app/md/test1.md', data-separator="^---$")
script(src='/app/js/head.min.js')
script(src='/app/js/reveal.js')
script(src='/app/js/client.js')
