script(src='/app/js/push.js')  

nav
  a#chatToggle
    span.navClosed
  #chat
    .chatHeading
      span.fa.fa-comments 
      strong &nbsp Chat
    .chatBody
      ul
        li.left.clearfix(ng-repeat='message in messages track by $index')
          span.pull-left 
            .innerBody.clearfix
              .header
                strong {{message.user}}: 
              p
                | {{message.text}}
    .chatFooter
      form.form-inline(name='chatMessage', novalidate)
        .input-group
          input.form-control.input-md(type='text', placeholder='Your Message...', ng-model='message', required)
          span.input-group-btn
            button.btn.btn-success(ng-click='sendMessage()', ng-disabled='!chatMessage.$valid') Send
