script(src='/app/js/bootstrap-markdown.buttons.js')

.container
  .row
    form
      textarea#text-editor(name='content', rows='20')
#graphModal.modal.fade(role='dialog')
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-label='close')
      h3 Graph
    .modal-body
      form.form-inline(name='checkReportForm', novalidate)
        .form-group
          input.form-control(type='text', ng-model='reportId', placeholder='Enter Report ID.', pattern='.{8,18}', required)
          button.btn.btn-primary(type='button', ng-disabled='!checkReportForm.$valid', ng-click='checkReport()') Check Report
      .graphOption(ng-hide='!checkReportForm.$valid')
        form
          .form-group
            select.form-control(ng-model='graphType', required)
              option(value='' disabled selected) Select a Graph
              option Multi-Bar Chart
              option Line Chart
              option Pie Chart
        form.form-inline(name='graphForm', novalidate)
          .form-group
            select.form-control(ng-model='xValue', required)
              option(value='', disabled selected) Select X Column
              option 1
              option 2
              option 3
            select.form-control(ng-model='yValue', required)
              option(value='', disabled selected) Select Y Column
              option 1
              option 2
              option 3
            .row
              .checkbox
                label
                  input(type='checkbox')
                  | X Date Format
                label
                  input(type='checkbox')
                  | Y Date Format
            .row
              .checkbox
                label
                  input(type='checkbox')
                  | X Axis
                label
                  input(type='checkbox')
                  | Y Axis

    .modal-footer
      button.btn.btn-primary(type='button', ng-disabled='(!checkReportForm.$valid && !graphForm.$valid)') Create Graph
#tableModal.modal.fade(role='dialog')
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-label='close')
      h4 Table
    .modal-body
      form(name='tableForm', novalidate)
        .form-group
          input.form-control(type='number', name='rows', placeholder='# of rows', min=1, ng-model='rows', required)
        .form-group
          input.form-control(type='number', name='columns', placeholder='# of columns', min=1, max=10, ng-model='columns', required)
        .checkbox
          label
            input(type='checkbox')
            | Headers
    .modal-footer
      button#createTable.btn.btn-primary(type='button', ng-disabled='!tableForm.$valid') Create Table
      button.btn.btn-default(type='button', data-dismiss='modal') Close
