script(src='/app/js/bootstrap-markdown.buttons.js')

.container
  .row
    form
      textarea#text-editor(name='content')
#graphModal.modal.fade(role='dialog')
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-label='close')
      h3 Graph
    .modal-body
      form here
    .modal-footer
      button.btn.btn-primary(type='button') Create Graph
#tableModal.modal.fade(role='dialog')
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-label='close')
      h3 Table
    .modal-body
      form here
    .modal-footer
      button.btn.btn-primary(type='button') Create Table
