script(src='/app/js/bootstrap-markdown.buttons.js')

.container
  .row
    form
      textarea#text-editor(name='content')
#graphModal.modal.fade
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-label='close')
      JJJJ
    .modal-body
      form here
    .modal-footer
      button.btn.btn-primary(type='button') Graph
