script(src='/app/js/bootstrap-markdown.buttons.js')
link(rel='stylesheet', href='https://cdn.rawgit.com/floordps/jquery-steps/master/demo/css/jquery.steps.css')
script(src='/app/js/jquery.steps.config.js')

.container
  h1.text-center Editor
  div#wizard
    h3
    section
      textarea.text-editor(name='content', rows='20')
    h3
    section
      textarea.text-editor(name='content', rows='20')
    h3
    section
      textarea.text-editor(name='content', rows='20')
    h3
    section
      textarea.text-editor(name='content', rows='20')
    h3
    section
      textarea.text-editor(name='content', rows='20')
    h3
    section
      textarea.text-editor(name='content', rows='20')
    h3
    section
      textarea.text-editor(name='content', rows='20')
