script(src='/app/plugin/ckeditor/ckeditor.js')
script(src='/app/plugin/ckeditor/adapters/jquery.js')
slides#editor(ng-hide='false')
.slideControl
  .slideControlTop
    .btn.btn-danger(ng-click='deleteSlide()')
      span.fa.fa-trash-o
      | Delete
  .slideControlBottom
    .btn.btn-primary(ng-click='showConfig()') 
      span.fa.fa-cog
      | Settings
    .btn.btn-success(ng-click='updateMarkdown()')
      span.fa.fa-check
      | Finish
.addRight(ng-click='addRightSlide()')
  .fa.fa-plus-circle.fa-3x
.addBottom(ng-click='addDownSlide()')
  .fa.fa-plus-circle.fa-3x
.container#config(ng-hide='true')
  form.form-inline.text-center(novalidate)
    div.form-group
      label.sr-only(for='autoslide') Auto Slide (in seconds)
      div.input-group
        div.input-group-addon Auto Slide
        input.form-control#autoslide(type='number', ng-model='autoSlide', min="0")
        div.input-group-addon SEC
    .row
      h3 Transistion:
      ul.slideConfig
        li.slideConfigOpts(ng-repeat='tran in transitions', ng-class='{"clear-left": ($index % 3 === 0)}')
          input(type='radio', ng-model='currentTransition' name='transitionOption', value="{{tran}}", id='{{tran}}')
          label.btn.btn-default(for='{{tran}}')
            | {{tran}}
    strong {{transOption}}
    .row
      h3 Theme:
      ul.slideConfig
        li.slideConfigOpts(ng-repeat='theme in themes', ng-class='{"clear-left": ($index % 3 === 0)}')
          input(type='radio', ng-model='currentTheme' name='themeOption', value="{{theme}}", id='{{theme}}')
          label.btn.btn-default(for='{{theme}}')
            | {{theme}}
    .row.go-back
      button.btn.btn-default.btn-md(type='button', ng-click='goBack()') 
        span.fa.fa-arrow-left &nbsp;Go Back
#graphModal.modal.fade.medium(role='dialog')
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-label='close')
      h3 Creating Graph
    .modal-body
      .alert.alert-danger(role='alert', ng-hide='graphError') Oops.. Something went wrong. Try Again!
      form.form-inline(name='reportTypeForm', novalidate)
        input(type='radio', ng-model='reportType', value='rID', id='rID', ng-change='showGraphType(reportType)', ng-init='reportType="rID"; showGraphType(reportType)')
        label.btn(for='rID') Report ID
        input(type='radio', ng-model='reportType', value='sob', id='sob', ng-change='showGraphType(reportType)')
        label.btn(for='sob') SObject
      form.form-inline.checkReportId(name='checkReportForm', novalidate, ng-hide='reportDetails')
        .form-group
          input.form-control(type='text', ng-model='graph.reportId', placeholder='Enter Report ID.', pattern='.{8,18}', required)
          button.btn.btn-primary(type='button', ng-disabled='!checkReportForm.$valid', ng-click='checkReport()' ladda='load', data-style='slide-left') Check Report
      form.form-inline.checkSObject(name='checkSobForm', novalidate, ng-hide='!reportDetails')
        .form-group
          input.form-control(type='text', ng-model='graph.sobId', placeholder='Enter SObject Name.', required)
          button.btn.btn-primary(type='button', ng-disabled='!checkSobForm.$valid', ng-click='checkSob()' ladda='load', data-style='slide-left') Check SObject
      .graphOption(ng-hide='showDetails')
        form
          .form-group
            select.form-control(ng-model='graph.graphType', required)
              option(value='' disabled selected) Select a Graph
              option(ng-repeat='type in gTypes', value='{{type.name}}') {{type.type}}
        form.form-inline(name='graphForm', novalidate)
          .form-group
            select.form-control(ng-model='graph.xValue', required, ng-hide='reportTabSelected')
              option(value='', disabled selected) Select X Column
              option(ng-repeat='label in labels track by $index', value='{{label}}') {{label}}
            select.form-control(ng-model='graph.yValue', required, ng-hide='reportTabSelected')
              option(value='', disabled selected) Select Y Column
              option(ng-repeat='label in labels track by $index', value='{{label}}') {{label}}
            input.form-control(type='text', placeholder='Enter X Column', ng-model='graph.xValue', required, ng-hide='!reportTabSelected')
            input.form-control(type='text', placeholder='Enter Y Column', ng-model='graph.yValue', required, ng-hide='!reportTabSelected')
          label.dateFormat
            |Date Format:
            toggle-switch.switch-primary(model='graph.option.date')
    .modal-footer
      button#createGraph.btn.btn-primary(type='button', ng-disabled='((!checkReportForm.$valid || !checkSobForm.$valid) && !graphForm.$valid)', ng-click='createGraph()') Create Graph
      button.btn.btn-default(type='button', data-dismiss='modal') Close
script(src='/app/js/head.min.js')
script(src='/app/js/reveal.js')
link(href='/app/css/editor.css', rel='stylesheet')
link(rel='stylesheet', href='/app/css/simple.css', id='theme')
