header
  menu
  .logo
  .container.formcontainer
    form.form-inline
      input.form-control.search(type='text' ng-model='search' ng-change='searchChange()' placeholder='Search by Slideshow or Author')
.wrapper
  #items
    .item(ng-repeat='slide in slideShows | filter:search')
      .slideshowItemInfo
        h1 {{slide.slideName}}
        .row
          .col-xs-6
            a(ng-click='setSearch(slide.author)') {{slide.author}}
          .col-xs-6
            .date {{slide.date | date:'MMMM d, yyyy' : 'UTC'}}
      a.slideshowItemControl(href='/#/view/{{slide.username}}/{{slide.slideName}}', style='display: block;')
        i.fa.fa-play-circle-o.fa-2x
