menu
h1.text-center Data - Driven
.container
  table.table
    thead
      tr
        th SlideShow
        th Created Date
        th Author
        th Action
    tbody
      tr(ng-repeat='slide in slideShows')
        td {{slide.slideName}}
        td {{slide.date}}
        td
          a(href='/#/view/{{slide.username}}') {{slide.author | uppercase}}
        td
          a.btn.btn-info(href='/#/view/{{slide.username}}/{{slide.slideName}}') PLAY&nbsp
            i.fa.fa-play
