menu
h1.text-center Data - Driven
.container
  table.table
    thead
      tr
        th SlideShow
        th Created Date
        th Author
        th Action
    tbody
      tr(ng-repeat='slide in slideShows')
        td {{slide.slideName}}
        td {{slide.date}}
        td {{slide.author}}
        td
          a(href="/#/view/{{slide.username}}/{{slide.slideName}}") Play
