.config .modal-content {
  width: 600px;
  margin: auto;
}

#cke_editor1 {
  margin: 0 auto;
}

.reveal > .slides {
  /*height: 600px !important; /* RevealJS inline height has more priority */
}

.reveal > .slides > .inlineEditor,
.reveal > .slides > .stack > .inlineEditor {
  height: 600px;
  border: 1px solid black;
}

svg {
  height: auto;
}

.addRight {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 30;
}

.addBottom {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 30;
}

.addRight:hover,
.addBottom:hover {
  cursor: pointer;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg)
  transform: rotate(45deg);
}

.slideControlTop {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 30;
}
.slideControlBottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 30;
}
.slideControlTop .btn .fa,
.slideControlBottom .btn .fa {
  margin-right: 5px;
}
