#editor {
  height: 85%;
}
#editor, #config {
  margin-top: 20px;
}

a {
  cursor: pointer;
}

#listSlides {
  overflow-y: auto;
  margin:auto;
  width:700px;
  max-height: 70vh;
}

/* Header */
.headerdiv{
	background-color:#373737;
	margin-top:0;
	height:auto;
}
.logo{
	width:300px;
	height:80px;
	background-image: url("img/Data-driven_logo_web.png");
	margin:auto;
}
.h1, h1{
  font-size:24px;
  font-weight:bold;
}
.accountinfo{
  width:580px;
  padding:15px;
}

/* New Slideshow Button */
#newSlideshow{
  width:auto;
  height:auto;
  padding:2px 5px;
}

/* Menu */
menu {
  margin-right: 20px;
  float:right;
  position:relative;
  right:0px;
	z-index:20;
}

menu .dropdown .dropdown-menu {
  width: 200px;
  padding: 5px;
	z-index:20;
}

/* Search Form */
.form-group{
	font-weight:normal ;
}
.form-group label{
	font-weight:normal ;
	color:inherit ;
}
.formcontainer {
	margin:auto;
	width:100% ;
	padding:5px;
	background-color:#cccccc;
	position:relative;
	z-index:10;
}
ol{
	border-radius:0 ;
	width:200px ;
	height:25px ;
}
#filterForm{
	width:600px;
	margin:auto;
	padding-left:10px;
}

.alert {
  padding: 2px ;
}
/* Account */

.buttonSpacer {
  margin-right: 10px;
  margin-left: 10px;
}

/* Editor */
.medium .modal-content {
  width: 450px;
  margin: auto;
}
.medium .modal-footer {
  text-align: center;
}

.checkSObject, .graphOption, .dateFormat, .checkReportId {
  margin-top: 10px;
}

#footer-editor {
  margin-top: 5px;
}

#footer-editor a {
  margin-left: 10px;
}

#editorModal textarea {
  resize: none;
  width: 100%;
}

form[name=tableForm] input.ng-dirty.ng-invalid,
form[name=checkReport] input.ng-dirty.ng-invalid,
form[name=graphForm] input.ng-dirty.ng-invalid {
  border-color: red;
}

form[name=tableForm] input.ng-dirty.ng-valid,
form[name=checkReport] input.ng-dirty.ng-valid,
form[name=graphForm] input.ng-dirty.ng-valid {
  border-color: green;
}

input[type='radio'] {
  display: none;
}

input[type='radio'] + label {
  background-color: #FFF;
  border-color: #CCC;
  width: 150px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

input[type='radio']:checked + label {
  background-color: #2184BE;
  color: #FFF;
  border-color: #2184BE;
}

ul.slideConfig {
  list-style: none;
  margin: auto;
  width: 550px;
}
.slideConfigOpts {
  float: left;
  margin-right: 15px;
  margin-top: 10px;
}
.slideConfigOpts.clear-left {
  clear: left;
}

#config .go-back.row {
  margin-top: 10px;
}

/* NVD3 Graph */
.reveal p {
  margin: auto;
}

.graph {
  width: 600px;
  height: 500px;
}

.graph svg {
  margin: auto;
  width: 100%;
  height: 100%;
}

/* Reveal */
.slides {
  width: 100% ;
  height: 100% ;
}

.controls {
  left: 10px ;
}

/* Table */
.table {
	background-color:red;
	width:700px;
	border:none ;
	font-size:16px;
}
.thead {
	background-color:white;
	font-size:20px ;
}
.table-striped {
	background-color:orange;
}

.table-hover{
	background-color:white;
}

.slidecontainer{
	width:700px;
	background-color:white;
	margin:auto;
  max-height: 95vh;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	z-index:5;
}
.container1{
	height:100% ;
	position:relative ;
}

/* Footer */
.footercontainer{
	width:100%;
  max-height: 10vh;
	background-color:#373737;
	color:white;
	text-align:center;
	padding:5px;
	position:fixed;
	bottom:0;
}

/* New Slide Window */
.slideWindow{
  width: 400px ;
  height:225px;
  text-align:center ;
  border-radius:0 ;
  position:absolute;
	top:50%;
	left:50%;
  margin:150px 0 0 -200px;
}

.slideWindow .modal-footer {
  text-align: center;
}
#wizard > .steps,
#wizard > .content,
.wizard > .content {
  min-height: 30em;
  height: 30em;
}
