doctype html
html(ng-app='data-driven')
  head
    meta(charset='utf-8')
    title Data-Driven
    link(rel='stylesheet', href='/app/css/reveal.css')
    link(rel='stylesheet', href='/app/css/simple.css', id='theme')
    link(rel='stylesheet', href='/app/css/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.8.0/css/bootstrap-markdown.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.8.0/js/bootstrap-markdown.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js')
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-route.min.js")
    script(src='/app/app.js')
    script(src='/app/controller/controllers.js')

  body(ng-view)
