doctype html
html(ng-app='data-driven')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes')
    title Data-Driven
    link(rel='stylesheet', href='/app/css/reveal.css')
    link(rel='stylesheet', href='/app/css/simple.css', id='theme')
    link(rel='stylesheet', href='/app/css/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.8.0/css/bootstrap-markdown.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.8.0/js/bootstrap-markdown.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-route.min.js')
    script(src='/app/app.js')
    script(src='/app/routes/routes.js')
    script(src='/app/controller/controllers.js')
    script(src='/app/directive/directives.js')
    script(src='/app/service/services.js')
    script(src='/bower/d3/d3.js')
    script(src='/bower/nvd3/nv.d3.js')
    script(src='/bower/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js')
    link(rel='stylesheet', href='/bower/nvd3/nv.d3.css')
    link(rel='stylesheet', href='/bower/ladda/dist/ladda-themeless.min.css')
    script(src='/bower/ladda/dist/spin.min.js')
    script(src='/bower/ladda/dist/ladda.min.js')
    script(src='/bower/angular-ladda/dist/angular-ladda.min.js')

  body(ng-view)
