doctype html
html
  head
    meta(charset='utf-8')
    title Data-Driven
    link(rel='stylesheet', href='/app/css/reveal.css')
    link(rel='stylesheet', href='/app/css/simple.css', id='theme')
  body
    .reveal
      .slides
        section(data-markdown='/app/md/test1.md', data-separator="^---$")
    script(src='/app/js/head.min.js')
    script(src='/app/js/reveal.js')
    script(type='text/javascript').
      Reveal.initialize({
        loop: true,
        controls: true,
        keyboard: true,
        width: 960,
        height: 700,
        margin: 0.1,
        progress: false,
        multiplex: {
          secret: 'secret123',
          id: '1',
          url: '127.0.0.1:5000'
        },
        dependencies: [
          { src: '/socket.io/socket.io.js' },
          { src: '/app/plugin/multiplex/master.js' },
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: '/app/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/app/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } }
        ]
      });
